{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}
{% set inpost_locker = constant('WebLivesInPost\\Util\\Constants::LOCKER_IDENTIFIER') %}

{% block page_checkout_confirm_form_submit %}
    {% if context.shippingMethod.customFields.identifier == inpost_locker
        and context.customer.activeShippingAddress.customFields.identifier != inpost_locker %}
        <button id="confirmFormSubmit"
                class="btn btn-primary btn-block btn-lg"
                form="confirmOrderForm"
                type="submit"
                disabled="disabled"
                title="{{ "inpost.checkout.selectLocker"|trans|sw_sanitize }}">
            {{ "checkout.confirmSubmit"|trans|sw_sanitize }}
        </button>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
